In [13]:
import pandas as pd
import numpy as np
import utm

In [14]:
### We need UTM coordinates for each point 
### We need date information for clustering the points
### 3 datasets need to be loaded dynamically

def data_preprocessing(df, column ='location-lat' ,slice_size = 25):
    
    df = df[df[column] > 0]
    df[['utm-easting', 'utm-northing', 'zone_number', 'zone_letter']] = df.apply(lambda row: utm.from_latlon(row['location-lat'], row['location-long']), axis=1, result_type='expand')
    df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d')
    df['date_string'] = df['timestamp'].dt.strftime('%Y-%m-%d')
    return df

In [15]:
df = pd.read_csv('data/Dead-Reackon-Sample-1.csv')

In [31]:
df1 = data_preprocessing(df)

In [32]:
df1

,Unnamed: 0,location-lat,location-long,lat-diff,long-diff,timestamp,individual-local-identifier,utm-easting,utm-northing,zone_number,zone_letter,date_string
0,1,9.165251,-79.836838,0.000016,0.000018,2022-07-07 22:07:07,Daniel,627797.657570,1.013329e+06,17,P,2022-07-07
1,2,9.165222,-79.836564,0.000028,0.000273,2022-07-07 22:08:13,Daniel,627827.710368,1.013325e+06,17,P,2022-07-07
2,3,9.165467,-79.836666,0.000245,0.000102,2022-07-07 22:09:10,Daniel,627816.425425,1.013353e+06,17,P,2022-07-07
3,6,9.158810,-79.837279,0.006647,0.000680,2022-07-11 15:31:27,Daniel,627751.433917,1.012616e+06,17,P,2022-07-11
4,9,9.158835,-79.837318,0.000024,0.000041,2022-07-11 15:33:45,Daniel,627747.161219,1.012619e+06,17,P,2022-07-11
...,...,...,...,...,...,...,...,...,...,...,...,...
99866,498794,9.158638,-79.834687,0.000011,0.000013,2022-10-02 11:26:49,Olenna Tyrell,628036.312398,1.012598e+06,17,P,2022-10-02
99867,498796,9.158738,-79.834374,0.000091,0.000320,2022-10-02 11:28:41,Olenna Tyrell,628070.737027,1.012609e+06,17,P,2022-10-02
99868,498798,9.158716,-79.834396,0.000014,0.000010,2022-10-02 11:28:43,Olenna Tyrell,628068.305692,1.012607e+06,17,P,2022-10-02
99869,498802,9.158481,-79.834471,0.000214,0.000062,2022-10-02 11:32:06,Olenna Tyrell,628060.126312,1.012581e+06,17,P,2022-10-02
99870,498803,9.158468,-79.834451,0.000013,0.000020,2022-10-02 11:32:07,Olenna Tyrell,628062.350694,1.012579e+06,17,P,2022-10-02

In [33]:
df1.to_csv('data/Dead-Reackon-Sample-1.csv')

In [16]:
df = pd.read_csv('data/fruit_tree.csv')

In [17]:
df['utm-easting'] = df['utm-easting'].str.replace(',', '')
df['utm-northing'] = df['utm-northing'].str.replace(',', '')

In [18]:
df['utm-easting'] = df['utm-easting'].astype(float)

In [19]:
df['utm-northing'] = df['utm-northing'].astype(float)

In [21]:
df.to_csv('data/fruit_tree.csv')

In [21]:
df2 = pd.read_csv('data/Dead-Reackoning-Processed.csv')

In [22]:
df2

,Unnamed: 0,event-id,visible,timestamp,location-long,location-lat,bar:barometric-pressure,data-decoding-software,eobs:acceleration-axes,eobs:acceleration-sampling-frequency-per-axis,...,orientation:quaternions-raw,orientation:quaternions-sampling-frequency,sensor-type,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier,study-name,utm-easting,utm-northing,utm-zone
0,0,23413047612,True,2022-07-07 22:06:07.000,-79.836820,9.165266,0.0,14,NaN,NaN,...,NaN,NaN,gps,Ateles geoffroyi,10502,Daniel,Dead-Reckoning Arboreal Species in BCI,627799.640843,1.013330e+06,17N
1,1,23413047613,True,2022-07-07 22:07:07.000,-79.836838,9.165251,0.0,14,NaN,NaN,...,NaN,NaN,gps,Ateles geoffroyi,10502,Daniel,Dead-Reckoning Arboreal Species in BCI,627797.657570,1.013329e+06,17N
2,2,23413047614,True,2022-07-07 22:08:13.000,-79.836564,9.165222,0.0,14,NaN,NaN,...,NaN,NaN,gps,Ateles geoffroyi,10502,Daniel,Dead-Reckoning Arboreal Species in BCI,627827.710369,1.013325e+06,17N
3,3,23413047615,True,2022-07-07 22:09:10.000,-79.836666,9.165467,0.0,14,NaN,NaN,...,NaN,NaN,gps,Ateles geoffroyi,10502,Daniel,Dead-Reckoning Arboreal Species in BCI,627816.425425,1.013353e+06,17N
4,4,23413047616,True,2022-07-07 22:09:11.000,-79.836627,9.165461,0.0,14,NaN,NaN,...,NaN,NaN,gps,Ateles geoffroyi,10502,Daniel,Dead-Reckoning Arboreal Species in BCI,627820.735251,1.013352e+06,17N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498803,524310,23997416439,True,2022-10-02 11:32:07.000,-79.834451,9.158468,0.0,14,NaN,NaN,...,NaN,NaN,gps,Potos flavus,8232,Olenna Tyrell,Dead-Reckoning Arboreal Species in BCI,628062.350694,1.012579e+06,17N
498804,524311,23997416440,True,2022-10-02 11:32:08.000,-79.834433,9.158464,0.0,14,NaN,NaN,...,NaN,NaN,gps,Potos flavus,8232,Olenna Tyrell,Dead-Reckoning Arboreal Species in BCI,628064.373841,1.012579e+06,17N
498805,524312,23997416441,True,2022-10-02 11:32:09.000,-79.834423,9.158461,0.0,14,NaN,NaN,...,NaN,NaN,gps,Potos flavus,8232,Olenna Tyrell,Dead-Reckoning Arboreal Species in BCI,628065.429763,1.012579e+06,17N
498806,524313,23997416442,True,2022-10-02 11:32:10.000,-79.834406,9.158464,0.0,14,NaN,NaN,...,NaN,NaN,gps,Potos flavus,8232,Olenna Tyrell,Dead-Reckoning Arboreal Species in BCI,628067.285895,1.012579e+06,17N
498807,524314,23997416443,True,2022-10-02 11:32:11.000,-79.834388,9.158466,0.0,14,NaN,NaN,...,NaN,NaN,gps,Potos flavus,8232,Olenna Tyrell,Dead-Reckoning Arboreal Species in BCI,628069.296083,1.012579e+06,17N

In [23]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/Dead-Reckoning Arboreal Species in BCI.csv')

/var/folders/2z/k0vctg855l3dq626nd2hf5j40000gn/T/ipykernel_89647/204297101.py:3: DtypeWarning: Columns (7,9,18,32,37,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Dead-Reckoning Arboreal Species in BCI.csv')

In [16]:
(pd.unique(df['date_string']))

array(['2022-07-07', '2022-07-11', '2022-07-12', '2022-07-15',
       '2022-07-16', '2022-07-19', '2022-07-20', '2022-07-23',
       '2022-07-24', '2022-07-27', '2022-07-28', '2022-07-31',
       '2022-08-01', '2022-08-04', '2022-08-05', '2022-08-08',
       '2022-08-09', '2022-08-12', '2022-08-13', '2022-08-16',
       '2022-08-17', '2022-08-20', '2022-08-21', '2022-08-24',
       '2022-08-25', '2022-08-28', '2022-08-29', '2022-09-01',
       '2022-09-02', '2022-09-05', '2022-09-06', '2022-09-09',
       '2022-09-10', '2022-09-13', '2022-09-17', '2022-09-18',
       '2022-09-21', '2022-09-22', '2022-09-25', '2022-09-26',
       '2022-09-29', '2022-09-30', '2022-10-03', '2022-10-04',
       '2022-10-07', '2022-10-08', '2022-10-11', '2022-10-12',
       '2022-10-15', '2022-10-16', '2022-10-19', '2022-10-20',
       '2022-10-23', '2022-10-27', '2022-10-28', '2022-10-31',
       '2022-11-04', '2022-11-05', '2022-11-08', '2022-11-09',
       '2022-11-12', '2022-11-13', '2022-11-16', '2022-11-17',
       '2022-11-20', '2022-11-21', '2022-11-24', '2022-11-25',
       '2022-11-28', '2022-11-29', '2022-12-02', '2022-12-03',
       '2022-12-06', '2022-12-07', '2022-12-10', '2022-12-11',
       '2022-12-14', '2022-12-15', '2022-12-18', '2022-12-19',
       '2022-12-22', '2022-12-23', '2022-12-26', '2022-12-27',
       '2022-12-30', '2022-12-31', '2023-01-03', '2023-01-04',
       '2023-01-07', '2023-01-08', '2023-01-11', '2023-01-12',
       '2023-01-15', '2023-01-16', '2022-09-14', '2022-10-24',
       '2022-11-01', '2022-08-06', '2022-08-07', '2022-08-10',
       '2022-08-11', '2022-08-14', '2022-08-15', '2022-08-18',
       '2022-08-19', '2022-08-22', '2022-08-23', '2022-08-26',
       '2022-08-27', '2022-08-30', '2022-08-31', '2022-09-03',
       '2022-09-04', '2022-09-07', '2022-09-08', '2022-09-11',
       '2022-09-12', '2022-09-15', '2022-09-16', '2022-09-20',
       '2022-09-23', '2022-09-24', '2022-09-27', '2022-09-28',
       '2022-10-01', '2022-10-02', '2022-10-05', '2022-10-06',
       '2022-09-19'], dtype=object)

In [19]:
# df.groupby('date_string').transform('size')

max(df.groupby('date_string').size())

4148

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/Dead-Reckoning Arboreal Species in BCI.csv')

/var/folders/2z/k0vctg855l3dq626nd2hf5j40000gn/T/ipykernel_6490/204297101.py:3: DtypeWarning: Columns (7,9,18,32,37,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Dead-Reckoning Arboreal Species in BCI.csv')

In [7]:
df[(df['height-above-ellipsoid'] > 0)]['height-above-ellipsoid']

0          64.0
1          62.5
2          45.4
3          44.2
4          44.4
          ...
524310    104.6
524311    104.2
524312    104.3
524313    108.2
524314    112.2
Name: height-above-ellipsoid, Length: 497553, dtype: float64

In [9]:
!pip3 install st-dbscan

Collecting st-dbscan
  Downloading st_dbscan-0.2.2.tar.gz (414 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 414.9/414.9 kB 2.4 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from st-dbscan) (1.23.5)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from st-dbscan) (1.10.0)
Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp310-cp310-macosx_12_0_arm64.whl (8.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.5/8.5 MB 15.3 MB/s eta 0:00:0000:0100:01
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 9.2 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn, st-dbscan
  DEPRECATION: st-dbscan is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for st-dbscan ... done
Successfully installed joblib-1.2.0 scikit-learn-1.2.2 st-dbscan-0.2.2 threadpoolctl-3.1.0

In [10]:
from st_dbscan import ST_DBSCAN

In [11]:
st_dbscan = ST_DBSCAN(eps1 = 0.05, eps2 = 10, min_samples = 300)
# st_dbscan.fit(data)

In [ ]:
st_dbscan.fit(df[['location-lat', 'location-long']])

In [11]:
import pandas as pd
import numpy as np
import random
type_list = ["Travel connection", "Foraging", "Nesting Site"]
genus_list = ['G1', 'G2', 'G3']
random_colum_1 = ['R1', 'R2', 'R3']
random_column_2 = ['T1', 'T2', 'T3']
df = pd.read_csv('data/fruit_tree.csv')

In [12]:
df["feature"] = [' & '.join(random.sample(type_list, random.randint(1, len(type_list)))) for _ in range(len(df))]
df["genus"] = [' & '.join(random.sample(genus_list, random.randint(1, len(genus_list)))) for _ in range(len(df))]
df["property-1"] = [' & '.join(random.sample(random_colum_1, random.randint(1, len(random_colum_1)))) for _ in range(len(df))]
df["property-2"] = [' & '.join(random.sample(random_column_2, random.randint(1, len(random_column_2)))) for _ in range(len(df))]

In [13]:
df.to_csv('data/fruit_tree.csv')