In [1]:
import pandas as pd
import numpy as np
import utm

In [29]:
### We need UTM coordinates for each point 
### We need date information for clustering the points
### 3 datasets need to be loaded dynamically

def data_preprocessing(df, column ='location-lat' ,slice_size = 25):
    
    df = df[df[column] > 0]
    df[['utm-easting', 'utm-northing', 'zone_number', 'zone_letter']] = df.apply(lambda row: utm.from_latlon(row['location-lat'], row['location-long']), axis=1, result_type='expand')
    df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d')
    df['date_string'] = df['timestamp'].dt.strftime('%Y-%m-%d')
    return df

In [30]:
df = pd.read_csv('data/Dead-Reackon-Sample-1.csv')

In [31]:
df1 = data_preprocessing(df)

In [32]:
df1

,Unnamed: 0,location-lat,location-long,lat-diff,long-diff,timestamp,individual-local-identifier,utm-easting,utm-northing,zone_number,zone_letter,date_string
0,1,9.165251,-79.836838,0.000016,0.000018,2022-07-07 22:07:07,Daniel,627797.657570,1.013329e+06,17,P,2022-07-07
1,2,9.165222,-79.836564,0.000028,0.000273,2022-07-07 22:08:13,Daniel,627827.710368,1.013325e+06,17,P,2022-07-07
2,3,9.165467,-79.836666,0.000245,0.000102,2022-07-07 22:09:10,Daniel,627816.425425,1.013353e+06,17,P,2022-07-07
3,6,9.158810,-79.837279,0.006647,0.000680,2022-07-11 15:31:27,Daniel,627751.433917,1.012616e+06,17,P,2022-07-11
4,9,9.158835,-79.837318,0.000024,0.000041,2022-07-11 15:33:45,Daniel,627747.161219,1.012619e+06,17,P,2022-07-11
...,...,...,...,...,...,...,...,...,...,...,...,...
99866,498794,9.158638,-79.834687,0.000011,0.000013,2022-10-02 11:26:49,Olenna Tyrell,628036.312398,1.012598e+06,17,P,2022-10-02
99867,498796,9.158738,-79.834374,0.000091,0.000320,2022-10-02 11:28:41,Olenna Tyrell,628070.737027,1.012609e+06,17,P,2022-10-02
99868,498798,9.158716,-79.834396,0.000014,0.000010,2022-10-02 11:28:43,Olenna Tyrell,628068.305692,1.012607e+06,17,P,2022-10-02
99869,498802,9.158481,-79.834471,0.000214,0.000062,2022-10-02 11:32:06,Olenna Tyrell,628060.126312,1.012581e+06,17,P,2022-10-02
99870,498803,9.158468,-79.834451,0.000013,0.000020,2022-10-02 11:32:07,Olenna Tyrell,628062.350694,1.012579e+06,17,P,2022-10-02

In [33]:
df1.to_csv('data/Dead-Reackon-Sample-1.csv')

In [16]:
df = pd.read_csv('data/fruit_tree.csv')

In [17]:
df['utm-easting'] = df['utm-easting'].str.replace(',', '')
df['utm-northing'] = df['utm-northing'].str.replace(',', '')

In [18]:
df['utm-easting'] = df['utm-easting'].astype(float)

In [19]:
df['utm-northing'] = df['utm-northing'].astype(float)

In [21]:
df.to_csv('data/fruit_tree.csv')